<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<body style=" leftmargin= 0px; topmargin= 0px; marginwidth= 0px; marginheight= 0px;">
<!-- Save for Web Slices (endless_blue.psd) -->
<div id="main">
  <table style=" width= 600px; height= 501px;" border="0" align="center" cellpadding="0" cellspacing="0" id="Table_01">
    <tr>
      <td colspan="22">
        <img src="/assets/index_01.jpg" width="600" height="19" alt="" /></td>
      </tr>
    <tr>
      <td rowspan="8">
        <img src="/assets/index_02.jpg" width="68" height="581" alt="" /></td>
	    <td colspan="7"><div id="logo"> <a href="index.html">SITE NAME</a> </div></td>
	    <td colspan="14" rowspan="2">
	        <img src="/assets/index_04.jpg" width="591" height="82" alt="" /></td>
      </tr>
    <tr>
      <td colspan="7">
        <img src="/assets/index_05.jpg" width="141" height="29" alt="" /></td>
      </tr>
    <tr>
      <td colspan="3">
        <img src="/assets/index_06.jpg" width="54" height="36" alt="" /></td>
	    <td colspan="6"><div class="top_menu">
        <ul>
        <li><a href="index.html">Home</a></li>
        </ul>
        </div></td>
	    <td>
	        <img src="/assets/index_08.jpg" width="11" height="36" alt="" /></td>
	    <td colspan="3"><div class="top_menu">
        <ul>
        <li><a href="index.html">About</a></li>
        </ul>
        </div></td>
	    <td>
	        <img src="/assets/index_10.jpg" width="13" height="36" alt="" /></td>
	    <td>
	       <div class="top_menu">
        <ul>
        <li><a href="index.html">Gallery</a></li>
        </ul>
        </div></td>
	    <td>
	        <img src="/assets/index_12.jpg" width="11" height="36" alt="" /></td>
	    <td>
	        <div class="top_menu">
        <ul>
        <li><a href="index.html">Links</a></li>
        </ul>
        </div></td>
	    <td>
	        <img src="/assets/index_14.jpg" width="11" height="36" alt="" /></td>
	    <td>
	        <div class="top_menu">
        <ul>
        <li><a href="index.html">Contact</a></li>
        </ul>
        </div></td>
	    <td colspan="2">
	        <img src="/assets/index_16.jpg" width="137" height="36" alt="" /></td>
      </tr>
    
      
    <tr>
      <td rowspan="5">
        <img src="/assets/index_17.jpg" width="33" height="463" alt="" /></td>
	    <td colspan="11"><div id="left_content"><br />
            
		<div class="h2">Latest <span class="style4">news</span></div>
	    <div class="content">
              <%= yield %>
          
        <div class="h2">Find us <span class="style4">on</span></div>
        </div></td>
	    <td colspan="8" rowspan="3"><div id="content"><br />
        <div class="h1">Welcome to our <span class="style4">website</span></div>
        <div class="content">Lorem ipsum dolor sit amet, consec tetuer adipiscing elit. <br />
          
          <a href="index.html">Read more...</a></div>
          <br />
          <div class="h1">This month <span class="style4">highlights</span></div>
          <div class="content">
            <a href="index.html">Read more...</a></div>
        </div></td>
	    <td rowspan="5">
	        <img src="/assets/index_20.jpg" width="108" height="463" alt="" /></td>
      </tr>
    <tr>     
      <td rowspan="2">
        <img src="/assets/index_21.jpg" width="14" height="114" alt="" /></td>
	    <td height="36" colspan="2" style="background:url(/assets/index_22.jpg)"><a href="index.html"><img src="/assets/rss-icon.png" width="36" height="36" border="0" alt=""/></a></td>
	    <td rowspan="2">
	        <img src="/assets/index_23.jpg" width="11" height="114" alt="" /></td>
	    <td style="background:url(/assets/index_24.jpg)"><a href="index.html"><img src="/assets/flikr-icon.png" width="36" height="36" border="0" alt=""/></a></td>
	    <td colspan="2" rowspan="2">
	        <img src="/assets/index_25.jpg" width="13" height="114" alt="" /></td>
	    <td colspan="3" style="background:url(/assets/index_22.jpg)">
	        <a href="index.html"><img src="/assets/twitter-icon.png" alt="" width="36" height="36" border="0" /></a></td>
	    <td rowspan="2">
	        <img src="/assets/index_27.jpg" width="35" height="114" alt="" /></td>
      </tr>
    <tr>
      <td colspan="2">
        <img src="/assets/index_28.jpg" width="36" height="78" alt="" /></td>
	    <td>
	        <img src="/assets/index_29.jpg" width="36" height="78" alt="" /></td>
	    <td colspan="3">
	        <img src="/assets/index_30.jpg" width="36" height="78" alt="" /></td>
      </tr>
    <tr>
      <td colspan="19"><div id="footer"><strong>Copyright (c) 2010 &quot;Site name&quot;. <br />
Design by <a href="http://www.e-globalspot.com">Wholesalers</a></strong></div></td>
    </tr>
    <tr>
      <td height="64" colspan="19" style="background:url(/assets/index_32.jpg)"><div align="center"><br/>
        <p class="style5">
          <a href="http://www.e-globalspot.com"><strong>Wholesalers</strong></a></p>
        </div></td>
    </tr>
    <tr>
      <td>
        <img src="/assets/spacer.gif" width="68" height="1" alt="" /></td>
	    <td>
	        <img src="/assets/spacer.gif" width="33" height="1" alt="" /></td>
	    <td>
	        <img src="/assets/spacer.gif" width="14" height="1" alt="" /></td>
	    <td>
	        <img src="/assets/spacer.gif" width="7" height="1" alt="" /></td>
	    <td>
	        <img src="/assets/spacer.gif" width="29" height="1" alt="" /></td>
	    <td>
	        <img src="/assets/spacer.gif" width="11" height="1" alt="" /></td>
	    <td>
	        <img src="/assets/spacer.gif" width="36" height="1" alt="" /></td>
	    <td>
	        <img src="/assets/spacer.gif" width="11" height="1" alt="" /></td>
	    <td>
	        <img src="/assets/spacer.gif" width="2" height="1" alt="" /></td>
	    <td>
	        <img src="/assets/spacer.gif" width="10" height="1" alt="" /></td>
	    <td>
	        <img src="/assets/spacer.gif" width="11" height="1" alt="" /></td>
	    <td>
	        <img src="/assets/spacer.gif" width="15" height="1" alt="" /></td>
	    <td>
	        <img src="/assets/spacer.gif" width="35" height="1" alt="" /></td>
	    <td>
	        <img src="/assets/spacer.gif" width="49" height="1" alt="" /></td>
	    <td>
	        <img src="/assets/spacer.gif" width="13" height="1" alt="" /></td>
	    <td>
	        <img src="/assets/spacer.gif" width="99" height="1" alt="" /></td>
	    <td>
	        <img src="/assets/spacer.gif" width="11" height="1" alt="" /></td>
	    <td>
	        <img src="/assets/spacer.gif" width="99" height="1" alt="" /></td>
	    <td>
	        <img src="/assets/spacer.gif" width="11" height="1" alt="" /></td>
	    <td>
	        <img src="/assets/spacer.gif" width="99" height="1" alt="" /></td>
	    <td>
	        <img src="/assets/spacer.gif" width="29" height="1" alt="" /></td>
	    <td>
	        <img src="/assets/spacer.gif" width="108" height="1" alt="" /></td>
      </tr>
  </table>
</div>
<!-- End Save for Web Slices -->
</body>


</html>
